*{
    padding: 0;
    margin: 0;

}
.headbr{
    padding-left: 10px;
    text-align: center ;
    font-family: 'Lora', serif;
}

.background{
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient( rgba(33, 37, 41, 0),rgba(33, 37, 41, 1)), 
    url("images/bee.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.headbr::first-letter {
    color: 	PowderBlue;
    font-size: 33px;
}
.headbr::first-line{
    color: azure;
    font-size: 28px;
}
nav{
    background-color:#343a40;
    margin: 4px 6px;
    border-radius: 12px;
    
    width: 99%;
    position: fixed;
    z-index: 999;
    display: flex;
    padding: 0% 0%;
    justify-content: space-between;
    align-items: center;
   
}
nav img{
    width: 80px;
}
.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    
    padding-left: 3px;
    padding-right: 20px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
}
.nav-link ul li a{
   
    color: #F85C70;
    border: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #d3d3d3;
    display: block;
    margin: auto ;
   transition: 0.5s;
}
.nav-link ul li:hover::after{
    color:  #d3d3d3;
    width: 100%;
}
.nav-link ul li a:hover{
    color:  #ff214f; 
}
.homei {
    padding : 10;
    width: 30;
    color: azure;
    background-color: #8cb4d4;
    display: inline-block;
    font-size: 30px;
    background-size: auto;
    border-radius: 7px;
    
}

.main{
   margin-left: 20px;
   margin-top: 150px;
}

.main h1{
    color: #ff214f;
    font-size: 75px;
    font-family: 'Lora', serif;
}

.main h2{
    color: aliceblue;
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
}
.main-btn{
        color: aliceblue;
        background-color:#fa0034 ;
        text-decoration: none;
        font-size: 23px;
        font-weight: 200px;
        display: inline-block;
        padding: 10px;
        font-family: 'Merriweather', serif;
        background-attachment: fixed;
        border-radius: 15px;
        margin-bottom:40px ;
        transition: 0.3s ease-in ;
}
.main-btn:hover{

    background-color: #ed0031
    ;
    transform: scale(1.1);
    
}

.back2{
    height: 100%;
    background-color: #2a2e32;
    
    
    
   
}
.title{
    
    display: flex;
    justify-content:center;
    color: #ff3a62;
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 10px;
    padding-top: 45px;
}
.content{
    
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    height: 365px;
    background-color: #43484e;
    width: 270px;
    box-shadow: 0 5px 15px rgba(35 33 33 / 50%);
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    transition: 0.6s ease;
}
.card:hover{
    transform: scale(1.1);
     
}
.icons{
    color: #e1506d;
    font-size: 40px;
    text-align: center;
}
.info{
    text-align: center;
    
}
.info h3{
    color: #e1506d;
    font-size:30px ;
    font-weight: 700;
    margin: px;
    font-family: 'Open Sans', sans-serif;
}
.info p{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

    margin: 20px;
    margin-bottom: 50px;


}

.info a{
    
    color: #d3d3d3;
    text-decoration: none;
    border:solid #e1506d;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    transition: 0.6s;
        font-family: 'Open Sans', sans-serif;

}
.info a:hover{
    background-color:#e1506d;
}
 
@media screen {
    
}
.contback{
    display: block;
    background-color: #2a2e32;
    height: 768px; ;
    width: 100%;
}
.contact{
    display: flex;
    justify-content:center;
    color: #ff3a62;
    font-size: 60px;
    font-weight: 800px;
    margin-bottom: 3px;
    padding-top: 60px;
    border: #ed0031;
}
.contact1 {
    font-size: 22px;
    color: #e1506d;
    margin: 5px;
    padding: 20px 250px;

}
.button{
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 110px;
    padding: 65px 20px;
    padding-right: 70px;
    margin: 40px;
    border: none;
    border-radius: 7px;
    background-color:;
    background-image: conic-gradient(
        from 36deg at 25% 50%,
        #ff6282 30% 25%,
         #ff214f 0%);
        font-size: 60px;
        cursor: pointer;
        overflow: hidden;
        transition: box-shadow .25s ease-in;
}
.button:hover{
    box-shadow: inset 0 0 0 70px
    rgb(0 0 0 / 25%);
}
.button:hover .icon{
    animation: slideDown 1.5s linear infinite;
}
@keyframes slideDown{
    from {
        transform: translateY(-80px)
    }
    to {
        transform: translateY(80px);
    } 
}

@media only screen and (min-width: 480px){
    .contact1{padding: 20px 20px;}
    .contback{height: 750px;}
    .button{
        column-gap: 40px;
        padding: 20px 5px;
    }

}
@media only screen and (min-width: 768px){
    .background{width: 100%;}
    .contback{height: 768px;}
}

    











.headbrr2{
    text-align: center;
    margin: 20px 200px;
    
}
.headbr2{
    padding: 10px;
    text-align: center ;
    font-family: 'Lora', serif;
}
.headbr2::first-letter {
    color: 	PowderBlue;
    font-size: 50px;
}
.headbr2::first-line{
    color: azure;
    font-size: 45px;
}